.title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
}

.sales-notification {
    font-size: 13px;
    margin-top: 4px;
    color: #e7451c;
    font-style: italic;
}

p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}