.title {
    font-family: Arial;
    font-size: 28px;
    font-weight: 400;

    margin-bottom: 18px;
}

input {
    background-color: #f0f0f0;
    border: none;
    width: 240px;
    display: block;

    padding: 10px 10px;
    margin-bottom: 6px;
}

.request-button {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;

    padding: 10px 14px;
    margin-top: 18px;
}

.schedule-button {
    background-color: #f0f0f0;
    border-width: 0;
    cursor: pointer;

    padding: 10px 16px;
    margin-top: 18px;
    margin-left: 10px;
}
